<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkg5IyMqbtS0eVtoQm6m1AwrNF5a_UXj4</string>
	<key>GCM_SENDER_ID</key>
	<string>706588876268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skroman.SkromanIsra1</string>
	<key>PROJECT_ID</key>
	<string>skorman-ora</string>
	<key>STORAGE_BUCKET</key>
	<string>skorman-ora.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706588876268:ios:6e4e191c5c73d9f866f4c9</string>
</dict>
</plist>